<body>
    <h1>Employment Tribunal Development And Test Environment</h1>
    <p><a href="http://et1.${SERVER_DOMAIN}:${SERVER_PORT}">ET1 System et1.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p><a href="http://et1.${SERVER_DOMAIN}:${SERVER_PORT}/apply/admin">ET1 Admin et1.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p><a href="http://et3.${SERVER_DOMAIN}:${SERVER_PORT}">ET3 System et3.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p>API Sytem api.${SERVER_DOMAIN}:${SERVER_PORT}</p>
    <p><a href="http://admin.${SERVER_DOMAIN}:${SERVER_PORT}/admin">Admin System admin.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p><a href="http://s3.${SERVER_DOMAIN}:${SERVER_PORT}">Private S3 server s3.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p><a href="http://mail.${SERVER_DOMAIN}:${SERVER_PORT}">Private mail server user interface - for checking what mails have been sent -  mail.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
    <p>
        <a href="http://mail.${SERVER_DOMAIN}:${SERVER_PORT}">Private mail server API - to allow test suite to check what mails have been sent -  mail.${SERVER_DOMAIN}:${SERVER_PORT}/api/v2</a>
         - see <a href="https://github.com/mailhog/MailHog/blob/master/docs/APIv2.md">here for API details</a></p>
    <p><a href="http://et1.${SERVER_DOMAIN}:${SERVER_PORT}/apply/diversity">Diversity monitoring questionaire et1.${SERVER_DOMAIN}:${SERVER_PORT}</a></p>
</body>
