server {
    listen *:${SERVER_PORT};
    server_name admin.${SERVER_DOMAIN};
    location / {
       client_max_body_size 100M;
       proxy_pass ${MY_ADMIN};
       proxy_set_header Host $http_host;
    }
}
