server {
       listen *:${SERVER_PORT};
       server_name api.${SERVER_DOMAIN} api.et;
       root /home/app/full_system/systems/api/public;
       access_log /home/app/full_system/systems/api/log/nginx_access.log combined;
       error_log /home/app/full_system/systems/api/log/nginx_error.log;
       client_max_body_size 100M;

       passenger_enabled on;
       passenger_user app;

       passenger_env_var WEB_CONCURRENCY 4;
       passenger_env_var SECRET_KEY_BASE sdlkjewfkjhfviuhduihenrjk435r89esfd7cv983qh2n4r3q27yh4u5rtfg;
       passenger_env_var REDIS_HOST redis;
       passenger_env_var REDIS_DATABASE 2;
       passenger_env_var BUNDLE_EXCLUDE '';
       passenger_env_var SMTP_HOSTNAME 'mail.${SERVER_DOMAIN:-et.127.0.0.1.nip.io}';
       passenger_env_var SMTP_PORT 1025;
       passenger_env_var AWS_ACCESS_KEY_ID accessKey1;
       passenger_env_var AWS_SECRET_ACCESS_KEY verySecretKey1;
       passenger_env_var AWS_REGION 'us-east-1';
       passenger_env_var S3_UPLOAD_BUCKET 'etapibucket';
       passenger_env_var S3_DIRECT_UPLOAD_BUCKET 'etapidirectbucket';
       passenger_env_var AWS_ENDPOINT 'http://s3.${SERVER_DOMAIN}:${SERVER_PORT}';
       passenger_env_var AWS_S3_FORCE_PATH_STYLE 'true';
       passenger_env_var RAILS_ENV 'production';
       passenger_env_var ACAS_SERVICE_URL 'http://acas.${SERVER_DOMAIN}:${SERVER_PORT}/Lookup/ECService.svc';
       passenger_env_var ATOS_API_USERNAME 'atos';
       passenger_env_var ATOS_API_PASSWORD 'password';
       passenger_env_var RAILS_MAX_THREADS 10;
       passenger_env_var RAVEN_DSN 'https://929365547a42468fb521248a96100646:139af8327fa340b88088efeae059fca8@sentry.io/1254109';

       passenger_app_env production;

}
