server {

       listen *:${SERVER_PORT};
       server_name et1.${SERVER_DOMAIN} et1.et;
        location / {
           client_max_body_size 100M;
           proxy_pass ${MY_ET1};
           proxy_set_header Host $http_host;
        }

}
