server {

       listen *:${SERVER_PORT};
       server_name et1.${SERVER_DOMAIN} et1.et;
       root /home/app/full_system/systems/et1/public;
       access_log /home/app/full_system/systems/et1/log/nginx_access.log combined;
       error_log /home/app/full_system/systems/et1/log/nginx_error.log;
       passenger_enabled on;
       passenger_user app;
       client_max_body_size 100M;

       passenger_env_var WEB_CONCURRENCY 4;
       passenger_env_var ASSET_HOST anything;
       passenger_env_var HTTP_OPEN_TIMEOUT_S 15;
       passenger_env_var HTTP_READ_TIMEOUT_S 15;
       passenger_env_var REDIS_URL redis://redis:6379/1;
       passenger_env_var SECRET_KEY_BASE dsjeflsdshewje23q896edc7dsufhsekjh4321ueirdasy6890;
       passenger_env_var SMTP_HOSTNAME 'mail.${SERVER_DOMAIN:-et.127.0.0.1.nip.io}';
       passenger_env_var SMTP_PORT 1025;
       passenger_env_var JADU_API http://api.${SERVER_DOMAIN}:${SERVER_PORT}/api/api/v1/;
       passenger_env_var AWS_ACCESS_KEY_ID accessKey1;
       passenger_env_var AWS_SECRET_ACCESS_KEY verySecretKey1;
       passenger_env_var S3_UPLOAD_BUCKET 'et1bucket';
       passenger_env_var AWS_REGION 'us-east-1';
       passenger_env_var AWS_ENDPOINT 'http://s3.${SERVER_DOMAIN}:${SERVER_PORT}';
       passenger_env_var AWS_S3_FORCE_PATH_STYLE 'true';
       passenger_env_var RAILS_ENV 'local';
       passenger_env_var ET_API_URL 'http://api.${SERVER_DOMAIN}:${SERVER_PORT}/api/v2';
       passenger_env_var RAVEN_DSN 'https://1b78623c8bab4dfb9aeb6f5dbb31ae34:0f4a38359e7e47f99e7e69449b32ef2b@sentry.io/1355286';
}
