#!/bin/sh
# `/sbin/setuser memcache` runs the given command as the user `memcache`.
# If you omit that part, the command will be run as root.
cd /home/app/full_system/systems/et1
export REDIS_DATABASE=1
export RAILS_ENV=local
export ASSET_HOST=dontcare
export HTTP_OPEN_TIMEOUT_S=15
export HTTP_READ_TIMEOUT_S=15
export REDIS_URL=redis://redis:6379/1
export SECRET_KEY_BASE=dsjeflsdshewje23q896edc7dsufhsekjh4321ueirdasy6890
export SMTP_HOSTNAME=mail.${SERVER_DOMAIN:-et.127.0.0.1.nip.io}
export SMTP_PORT=1025
export JADU_API=http://api.${SERVER_DOMAIN}:${SERVER_PORT}/api/v1/
export AWS_ACCESS_KEY_ID=accessKey1
export AWS_SECRET_ACCESS_KEY=verySecretKey1
export S3_UPLOAD_BUCKET=et1bucket
export AWS_REGION=us-east-1
export AWS_ENDPOINT=http://s3.${SERVER_DOMAIN}:${SERVER_PORT}
export AWS_S3_FORCE_PATH_STYLE=true
export ET_API_URL=http://api.${SERVER_DOMAIN}:${SERVER_PORT}/api/v2

exec /sbin/setuser app bash --login -c "/usr/local/rvm/bin/rvm use && bundle exec sidekiq >>/home/app/full_system/systems/et1/log/nginx_sidekiq.log 2>&1"
